main {
  height: 100vh;
  padding: 20px 0px;
  background-color: #ffffffce;
  .container_flex {
    display: flex;
  }
  &.main {
    transition: padding 0.5s;
    &.sidebar-open {
      padding-left: 290px !important;
    }
    &.sidebar-close {
      padding-left: 90px !important;
    }
  }
  .akart_mt {
    margin-top: 60px;
    cursor: pointer;
    .akart {
      img {
        width: 30%;
        border-radius: 20px;
        filter: drop-shadow(2px 4px 6px purple);
      }
    }
  }
  .heading_table {
    display: flex;
   justify-content: space-between;
    align-items: center;
    p {
      color: #5b2483ce;
      font-size: 1.1rem;
      font-weight: 500;
      &:hover {
        color: #5b2483ce;
        transition: 0.3s ease-in-out;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .table_con {
    table {
      border-collapse: collapse;
      width: 100%;
      color: black;
      tr{
     
    display: flex;
    justify-content: space-between;
    align-items: baseline;
     .flex-td {
        display:flex;
        gap: 20px;
        align-items: center;
          .icon {
            background-color: lightcoral;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            i {
              color: rgb(255, 73, 73);
            }
          }
            .purple{
              background-color: #a977cda5;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
            i{
              color: #5b2483ce;
            }
            }
            .orange{
              background-color: #cdbf77a5;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
            i{
              color: orange;
            }
            }
            .black{
              background-color: #d7d7d7a5;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
            i{
              color: rgb(0, 0, 0);
            }
            }
          .data_p {
            .bold {
              margin: 0;
              font-size: 1rem;
              font-weight: bold;
            }
            .grey {
              margin: 0;
              color: gray;
              font-size: 13px;
            }
          }
        }
        .price{
        span{
          font-weight: 700;
          color: red;
        }
        }
        .flex-td2{
        margin: 7px 0;
        }
      }
    }
  }
}
.payment{
  margin-left: 7%;
  margin-top: 9%;

  h2{
    text-align: center;
    margin-top: 3rem;
    }
    .input_search{
    outline: none;
    width: 90%;
    display: flex;
    height: 40px;
    margin: 3rem;
    border-radius: 7px;
    border: 3px solid #f6cbff;
    }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            td, th {
              border: 1px solid #000000;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #f6cbff;
            }
          }
}
        
  