@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
main {
  height: 100vh;
  padding: 20px 0px;
  background-color: rgba(255, 255, 255, 0.8078431373);
}
main .container_flex {
  display: flex;
}
main.main {
  transition: padding 0.5s;
}
main.main.sidebar-open {
  padding-left: 290px !important;
}
main.main.sidebar-close {
  padding-left: 90px !important;
}
main .akart_mt {
  margin-top: 60px;
  cursor: pointer;
}
main .akart_mt .akart img {
  width: 30%;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px purple);
}
main .heading_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .heading_table p {
  color: rgba(91, 36, 131, 0.8078431373);
  font-size: 1.1rem;
  font-weight: 500;
}
main .heading_table p:hover {
  color: rgba(91, 36, 131, 0.8078431373);
  transition: 0.3s ease-in-out;
}
main .heading_table a {
  text-decoration: none;
}
main .table_con table {
  border-collapse: collapse;
  width: 100%;
  color: black;
}
main .table_con table tr {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .table_con table tr .flex-td {
  display: flex;
  gap: 20px;
  align-items: center;
}
main .table_con table tr .flex-td .icon {
  background-color: lightcoral;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main .table_con table tr .flex-td .icon i {
  color: rgb(255, 73, 73);
}
main .table_con table tr .flex-td .purple {
  background-color: rgba(169, 119, 205, 0.6470588235);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main .table_con table tr .flex-td .purple i {
  color: rgba(91, 36, 131, 0.8078431373);
}
main .table_con table tr .flex-td .orange {
  background-color: rgba(205, 191, 119, 0.6470588235);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main .table_con table tr .flex-td .orange i {
  color: orange;
}
main .table_con table tr .flex-td .black {
  background-color: rgba(215, 215, 215, 0.6470588235);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main .table_con table tr .flex-td .black i {
  color: rgb(0, 0, 0);
}
main .table_con table tr .flex-td .data_p .bold {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
main .table_con table tr .flex-td .data_p .grey {
  margin: 0;
  color: gray;
  font-size: 13px;
}
main .table_con table tr .price span {
  font-weight: 700;
  color: red;
}
main .table_con table tr .flex-td2 {
  margin: 7px 0;
}

.payment {
  margin-left: 7%;
  margin-top: 9%;
}
.payment h2 {
  text-align: center;
  margin-top: 3rem;
}
.payment .input_search {
  outline: none;
  width: 90%;
  display: flex;
  height: 40px;
  margin: 3rem;
  border-radius: 7px;
  border: 3px solid #f6cbff;
}
.payment table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.payment table td, .payment table th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
.payment table tr:nth-child(even) {
  background-color: #f6cbff;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #5c2483;
  transition: padding 0.5s;
}
header.sidebar-open {
  padding-left: 290px !important;
}
header.sidebar-close {
  padding-left: 90px !important;
}
header nav .items1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
header nav .items1 .list i {
  color: #f1f1f1;
  cursor: pointer;
  line-height: 70px;
  font-size: 24px;
  margin: 20px;
}
header nav .items2 {
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
header nav .items2 .balance {
  display: flex;
  gap: 10px;
  align-items: center;
}
header nav .items2 .balance p {
  text-align: start;
  font-weight: 500;
  margin: 0;
  font-size: 1.1rem;
}
header nav .items2 .balance p .price_gren {
  color: rgb(40, 255, 40);
}
header nav .items2 .profile {
  display: flex;
  gap: 20px;
  align-items: center;
}
header nav .items2 .profile .img_user i {
  color: white;
  font-size: 1.2rem;
}
header nav .items2 .profile .user_name p {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 16px;
  margin: 0 !important;
  display: block !important;
  background: #5c2483;
  transition: width 0.5s;
}
.sidebar.sidebar-open {
  width: 290px !important;
}
.sidebar.sidebar-close {
  width: 90px !important;
}
.sidebar.sidebar-close span,
.sidebar.sidebar-close p {
  display: none !important;
}
.sidebar.sidebar-close i {
  font-size: 1.4rem;
}
.sidebar.sidebar-close i:hover {
  color: white;
  transition: 0.3s;
}
.sidebar.sidebar-close .slaam {
  margin: 0px 10px;
}
.sidebar .mainlogo {
  padding: 0;
  margin: 12px 6px;
}
.sidebar .mainlogo img {
  width: 100px;
}
.sidebar ul {
  padding: 0;
}
.sidebar ul li {
  list-style: none;
  color: white;
  padding: 10px 0;
}
.sidebar ul li p {
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #cedce4;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */